body {
  font-family: sans-serif;
  background-color: #E7E3D8;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #152F04;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 1px;
}

h2{
  color: #152F04;
  font-size: 15px;
  margin-bottom: 10px;
}

h3{
  
}

p{
  margin-top: 10px;
  border-top: 3px solid #152F04;;
  font-size: 20px;
  color: #152F04;
  font-weight: bold;
}

img {
  max-width: 1000px;  /* A imagem terá no máximo 600px de largura */
  width: 100%;       /* Mas se a tela for menor, ela se ajusta */
  
  display: block;
  margin: 20px auto;
  border-radius: 100px;
}